# Ignore virtual environments
venv/
.env/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Node and React build stuff (optional for frontend projects)
node_modules/
build/
dist/

# Logs
*.log

# OS and editor files
.DS_Store
.vscode/
.idea/
